.idea
__pycache__
.DS_Store
celerybeat-schedule.db
*.pyc
*.rdb
.coverage
/volume/logs
dsd/.Python
dsd/bin
dsd/include
dsd/lib
dsd/man
cover/*
dsd/client/bower_components
dsd/client/node_modules
logfile
